body {
  background-color: rgb(77, 218, 67);
  height: 90vh;
}

.container {
  width: 100%;
  height: 100%;
  position: relative;
}

.racecar {
  width: 10%;
}

.rotatenorth {
  transform: rotate(270deg);
}

.rotatewest {
  transform: rotate(180deg);
}

.rotatesouth {
  transform: rotate(90deg);
}
